body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  perspective: 200px;
}
.box {
  width: 100px;
  background-color: gold;
  padding: 1rem;
  transition: transform 1s cubic-bezier(0, 0.85, 0.75, 0.18) 2s;
}

.container:hover .box-one {
  transform: rotate(10deg);
}
.container:hover .box-two {
  transform: rotate(45deg);
  background: dodgerblue;
  /* transform: scale(1.5); */
  /* transform: skew(-30deg); */
  /* transform: translate(50px, 50px); */
  /* transform: translateZ(50px); */
  /* transform: rotateY(30deg);
  transform-origin: 0 0; */
}
