<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="./navBar.css">
</head>

<body>
    <nav class="navbar collapsible">
        <span class="logo">
            <a href="/" class="navbar__link">Navbar</a>
        </span>
        <span class="menu navbar__toggler">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </span>
        <ul class="navbar__list">
            <a href="#" class="navbar__link">
                <li class="navbar__item">Services</li>
            </a>
            <a href="#" class="navbar__link">
                <li class="navbar__item">Customer</li>
            </a>
            <a href="#" class="navbar__link">
                <li class="navbar__item">Contact</li>
            </a>
            <a href="#" class="navbar__link">
                <li class="navbar__item">Login</li>
            </a>
        </ul>

    </nav>
    <script src="./navBar.js"></script>
</body>

</html>