<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordian</title>
    <link rel="stylesheet" href="./accordian.css">
</head>

<body>
    <div class="container">
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">Section 1</h3>
                <button class="btn">+</button>
            </header>
            <section class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt placeat necessitatibus sit voluptates
                ducimus id laborum, recusandae delectus voluptatem.
            </section>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">Section 2</h3>
                <button class="btn">+</button>
            </header>
            <section class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt placeat necessitatibus sit voluptates
                ducimus id laborum, recusandae delectus voluptatem.
            </section>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">Section 3</h3>
                <button class="btn">+</button>
            </header>
            <section class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt placeat necessitatibus sit voluptates
                ducimus id laborum, recusandae delectus voluptatem.
            </section>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h3 class="collapsible__heading">Section 4</h3>
                <button class="btn">+</button>
            </header>
            <section class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt placeat necessitatibus sit voluptates
                ducimus id laborum, recusandae delectus voluptatem.
            </section>
        </div>
    </div>
    <script src="./accordian.js"></script>
</body>

</html>