<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium, vero sed tempore
                voluptatibus aliquid?
            </p>
            <a href="#" class="link-arrow">Review More</a>
        </div>
        <img src="../images/places/churcura-1.webp" alt="" class="feature__image">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium, vero sed tempore
                voluptatibus aliquid?
            </p>
            <a href="#" class="link-arrow">Review More</a>
        </div>
        <img src="../images/places/danakil.jpg" alt="" class="feature__image">
    </article>
</section>