<section class="block block--dark block--skewed-left">
    <div class="container grid grid--1x2 hero">
        <div class="hero__content">
            <h1 class="hero__heading">Your review website</h1>
            <p class="hero__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, itaque!
            </p>
            <button class="btn btn--primary">Get Started</button>
        </div>
        <img class="hero__image" src="../images/movies/cinima.webp" alt="">
    </div>
</section>