<nav class="navbar collapsible collapsible--expanded">
    <a href="" class="navbar__link">
        <h3 class="logo">
            <span class="insight">Insight</span><span class="rater">Rater</span>
        </h3>
    </a>
    <span class="menu navbar__toggler">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </span>
    <ul class="navbar__list">
        <li class="navbar__item">
            <a href="#" class="navbar__link"> Movies </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"> Places </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"> Books </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"> Login </a>
        </li>
    </ul>
</nav>