<section class="block container block--plans">
    <header class="block__header">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nam!</p>
    </header>
    <div class="flex flex--wrap">
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
        <section class="plan">
            <div class="card">
                <header class="card__header">
                    <span class="badge badge--primary badge--small">Movies</span>
                    <img class="card__image" src="../images/movies/avator.jpg" alt="">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio,
                        sed.
                    </p>
                    <button class="btn btn--primary btn--block">Review movies</button>
                </div>
            </div>
        </section>
    </div>
</section>