<section class="block container block--search">
    <header class="block__header">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nam!</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Write something here...">
        <button class="btn btn--accent">Search</button>
    </div>
    <ul class="list block--search__prices">
        <li class="list__item"><span class="badge badge--secondary badge--small">Item</span></li>
        <li class="list__item"><span class="badge badge--secondary badge--small">Item</span></li>
        <li class="list__item"><span class="badge badge--primary badge--small">Item</span></li>
        <li class="list__item"><span class="badge badge--secondary badge--small">Item</span></li>
        <li class="list__item"><span class="badge badge--primary badge--small">Item</span></li>
        <li class="list__item"><span class="badge badge--secondary badge--small">Item</span></li>
    </ul>
</section>