html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(3, 3, 18);
  font-size: 2.4rem;
}

.container {
  background: #e2dddd;
  border-radius: 10px;
  padding: 4rem;
}

.timer {
  text-align: center;
}

.btn {
  outline: none;
  border: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

.btn--start {
  background: green;
  color: #fff;
}

.btn--stop {
  background: rgb(229, 32, 32);
  color: #fff;
}

.btn--reset {
  background: rgb(156, 33, 33);
  color: #fff;
}
