<section class="block container block--plans">
    <header class="block__header">
        <h2 id="books-page">Get ready to read a fun and fantastic books</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quia ipsa alias labore doloribus quidem.
        </p>
    </header>
    <div class="flex flex--wrap">
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/atomic.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Atomic Habits</h3>
                    <p class="card__description">
                        James Clear, 2018
                    </p>
                    <button class="btn btn--secondary">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/avareid.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">A Study in Drowing</h3>
                    <p class="card__description">
                        Ava Reid, 2023
                    </p>
                    <button class="btn btn--secondary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/coldlack.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Cold lack</h3>
                    <p class="card__description">
                        Jeff Carson, 2014
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/firksekemekabir.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">ፍቅር እስከ መቃብር</h3>
                    <p class="card__description">
                        ሀዲስ አለማየው፣ 1968
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/midnight.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Midnight at the Houdini</h3>
                    <p class="card__description">
                        Delilah S. Dawson, 2023
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/neverland.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Alice in Neverland</h3>
                    <p class="card__description">
                        Jeni Conrad, 2023
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/IcantMakeThisUp.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">I can't make this up.</h3>
                    <p class="card__description">
                        Kevin Hart, 2017
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/sememen.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title"> ሰመመን</h3>
                    <p class="card__description">
                        ሲሳይ ንጉሱ፣ 1978
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/richdadpoordad.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Rich Dad Poor Dad</h3>
                    <p class="card__description">
                        Robert T.Kiyosaki, 1997
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
    </div>
</section>