<section class="block container">
    <div class="callout callout--primary">
        <div class="grid grid--1x2">
            <section class="callout__content">
                <h2 class="callout__heading">Get ready to review a movies?</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem pariatur non praesentium vero?
                    Iste
                    quas non quod. Incidunt, alias aliquam!</p>
            </section>
            <a href="#" class="btn btn--primary--light btn--streched">Get Started</a>
        </div>
    </div>
</section>