<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h3 class="collapsible__heading">Item 1</h3>
        <span class="icon-container bg-black">
            <span class="icon icon--chevron">
            </span>
        </span>
    </header>
    <section class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi, vero commodi eligendi nemo in amet
            officia quisquam nam odio.</p>
    </section>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h3 class="collapsible__heading">Item 1</h3>
        <span class="icon-container bg-black">
            <span class="icon icon--chevron">
            </span>
        </span>
    </header>
    <section class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi, vero commodi eligendi nemo in amet
            officia quisquam nam odio.</p>
    </section>
</div>