<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem, ipsum dolor.</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ad quasi et maxime quod autem.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/churcura-1.webp" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem, ipsum dolor.</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ad quasi et maxime quod autem.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/danakil.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem, ipsum dolor.</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ad quasi et maxime quod autem.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/Fasilides_Palace.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Lorem, ipsum dolor.</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ad quasi et maxime quod autem.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/Hamer.jpg" alt="">
        </picture>
    </article>
</section>