<section class="block container">
    <header id="places-page" class="block__header">
        <h2>Start reviewing places, You may get the one you like more.</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat eligendi fuga temporibus molestias
            at!
        </p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Chebera Churchura</h3>
            <p>
                Chebera Churchura is a newly established National Park located in Konta Woreda, Dawro Zone. It is
                480 km south of Addis on the Addis–Jimma-Chida-Ameya road.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/churcura-1.webp" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Danakil Depression</h3>
            <p>
                The Danakil Depression is the northern part of the Afar Triangle or Afar Depression in
                Ethiopia,[1][2] a geological depression that has resulted from the divergence of three tectonic
                plates in the Horn of Africa.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/danakil.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Gondar</h3>
            <p>
                Gondar was founded by Emperor Fasilides around the year 1635, growing as an agricultural and market
                town. Tradition suggests that the capital's name should start with contributing to its growth and
                the development of Gorgora in the centuries after 1600.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/Fasilides_Palace.jpg" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <h3 class="feature__heading">Hammer</h3>
            <p>
                The Hamer are a renowned Tribe of Omo Valley, particularly for their Women’s Striking hairstyles,
                and having the friendliest Tribe in Omo Valley, Ethiopia. The people mainly live in the Hamer Land.
            </p>
            <a href="#" class="link-arrow">Review more</a>
        </div>
        <picture>
            <img class="feature__image" src="../Images/places/Hamer.jpg" alt="">
        </picture>
    </article>
</section>