<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h3 class="collapsible__heading footer__heading">Reviews</h3>
                <span class="icon-container bg-black">
                    <span class="icon icon--chevron">
                    </span>
                </span>
            </header>
            <section class="collapsible__content footer__content">
                <ul class="list">
                    <li class="list__item"><a href="#">Review Movies</a></li>
                    <li class="list__item"><a href="#">Review Books</a></li>
                    <li class="list__item"><a href="#">Review Places</a></li>
                </ul>
            </section>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h3 class="collapsible__heading footer__heading">About Us</h3>
                <span class="icon-container bg-black">
                    <span class="icon icon--chevron">
                    </span>
                </span>
            </header>
            <section class="collapsible__content footer__content">
                <ul class="list">
                    <li class="list__item"><a href="#">What we do</a></li>
                    <li class="list__item"><a href="#">Our team</a></li>
                    <li class="list__item"><a href="#">Contact Us</a></li>
                </ul>
            </section>
        </section>
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
                <h3 class="collapsible__heading footer__heading">Support</h3>
                <span class="icon-container bg-black">
                    <span class="icon icon--chevron">
                    </span>
                </span>
            </header>
            <section class="collapsible__content footer__content">
                <ul class="list">
                    <li class="list__item"><a href="#">Help</a></li>
                    <li class="list__item"><a href="#">FAQ</a></li>
                    <li class="list__item"><a href="#">Privacy and Policy</a></li>
                    <li class="list__item"><a href="#">FeedBack</a></li>

                </ul>
            </section>
        </section>
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
                <h3 class="collapsible__heading footer__heading">Contact</h3>
                <span class="icon-container bg-black">
                    <span class="icon icon--chevron">
                    </span>
                </span>
            </header>
            <section class="collapsible__content footer__content">
                <ul class="list">
                    <li class="list__item"><a href="mailto:demisgech@gmail.com">demisgech@gmail.com</a></li>
                    <li class="list__item"><a href="mailto:dereje@gmail.com">dereje@gmail.com</a></li>
                    <li class="list__item"><a href="mailto:rediet@gmail.com">rediet@gmail.com</a></li>
                </ul>
            </section>
        </section>
        <section class="footer__brand">
            <h3 class="logo">
                <span class="insight">Insight</span><span class="rater">Rater</span>
            </h3>
            <p class="footer__copyright">
                &copy; Copyright &commat; 2024 Demis Getachew
            </p>
        </section>
    </div>
</footer>