<section class="block block--dark block--skewed-left">
    <div class="container hero grid grid--1x2">
        <div class="hero__content">
            <h1 class="block__heading">Your review website</h1>
            <p class="hero__title">Welcome to a world of reviews and recommendations.</p>
            <button class="btn btn--primary btn--streched">Get Started</button>
        </div>
        <div class="hero__image">
            <img src="../Images/others/cinima.webp" alt="">
        </div>
    </div>
</section>