<section class="block container block--plans">
    <header class="block__header">
        <h2>List of Movies goes here</h2>
    </header>
    <div class="flex flex--wrap">
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/avator.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/avengers.jpeg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avengers</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--secondary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/HiddenFigures.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Hidden Figures</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/ladybird.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Lady Bird</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/littleWomen.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Little Women</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/pijamas.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Pijamas</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/Poison.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Poison</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/PursuitOfHappyness.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Pursuit Of Happyness</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/tomcruise.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Tom Cruise</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
    </div>
</section>