<section class="block container block--plans">
    <div class="flex flex--wrap">
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/avator.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avator</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Movies</span>
                    <img src="../Images/movies/avengers.jpeg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Avengers</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--secondary btn-block">Review Movies</button>
                </div>
            </section>
        </section>
        <section class="plan">
            <section class="card">
                <header class="card__header">
                    <span class="badge badge--secondary badge--small">Books</span>
                    <img src="../Images/books/firksekemekabir.jpg" alt="" class="card__image">
                </header>
                <div class="card__body">
                    <h3 class="card__title">Fikr sekemekabir</h3>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <button class="btn btn--primary btn-block">Review Books</button>
                </div>
            </section>
        </section>
    </div>
</section>