<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordian</title>
    <link rel="stylesheet" href="./accordian.css">
</head>

<body>
    <div class="container">
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Section 1</h2>
                <button class="btn">+</button>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique ab necessitatibus neque non iste
                dolor consequuntur, cumque voluptate soluta dignissimos.
            </div>
        </div>
        <div class="collapsible">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Section 2</h2>
                <button class="btn">+</button>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique ab necessitatibus neque non iste
                dolor consequuntur, cumque voluptate soluta dignissimos.
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">Section 3</h2>
                <button class="btn">+</button>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique ab necessitatibus neque non iste
                dolor consequuntur, cumque voluptate soluta dignissimos.
            </div>
        </div>
    </div>
    <script src="./accordian.js"></script>
</body>

</html>