<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="container">
        <p class="expandable">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quam mollitia eius
            commodi.
            Nostrum eaque porro quae, alias officia eligendi nesciunt possimus. Dicta eaque earum debitis, iusto ullam a
            rem. Hic itaque eos ea esse veritatis, quasi minima sint magnam explicabo iure. Dolorum saepe necessitatibus
            officiis, aliquam nesciunt pariatur libero.
        </p>
        <button class="btn">More</button>
    </div>

    <script src="./index.js"></script>
</body>

</html>